/* CSS general */
html{
    height: 100%;
    width: 100%;
}
body{
    font-family:arial;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
h3{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
#content{
    width: 100%;
    height: 100%;
    background-color: #fff; 
    display: flex; 
}

/* Box-left */

#box-left{
    width: 360px ;
    height: 100%;
    /* border: 1px #000 solid; */
    border-right: none;
    padding-left: 40px;
    font-size: 18px;
    color: #264654;
}
#box-left img{
    padding-top: auto;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px; 
}
.boutton{
    color: #fff;
    text-align: center;
    width: 150px;
    border: 1px #264654 solid;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #264654;
}
.boutton a{
    color:#fff;
    text-decoration: none;
}
.boutton:hover{
    background-color: transparent;
    color:#264654;
    border-radius: 20px;
    border-width: 2px;
}
.boutton:hover a{
    color:#686c6e;
    font-weight: bold;
}
/*  End Box-left */

/* Box-right */
#box-right{
    width: 100vw;
    /* height: 100%; */
    background-image: url('images/Design.png');
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
}
#navigation nav ul{
    color: #fff;
    display: flex;
    margin-top: 0px;
    height: 20px;
    background-color: #0000004d;
    padding: 20px;
    justify-content: center;
    font-weight: bold;
}
#navigation nav ul li a{
    color: #fff;
}
#navigation nav ul li{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    border-bottom: 1px rgb(255, 255, 255, 0.6) solid;
    border-width: 4px;
}
#navigation nav ul li:hover{
    border-color: #fff;
    border-radius: 4px;
}
#navigation nav{
    margin-top: 0px;
    height: 20px;
}

.bottom-elements{
    padding: 30px;
    max-width: 25em;
    background-color: #fff;
    color:#264654;
    float: right;
}

/* Responsive */
@media all and (max-width: 1100px){
    #content{
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 1000px){
    #content{
        width: 95%;
    }
    #navigation nav {
        font-size: 90%;
    }
    #box-right{
        border: none;
    }
    
}
@media (max-width: 900px){
    #content{
        width: 90%;
        margin: 0;
        display: block;
        padding: 0;
    }
    #navigation nav {
        font-size: 80%;
    }   
    #box-left{
        height: 100%;
        margin-left: 15%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #box-right{
        width: 80%;
        height: 100%;
        justify-content: space-between;
        margin-top: 0;
    } 
    .boutton{
        width: 90%;
        border-radius: 20px;
        border-width: 2px;
        margin-bottom: 0;
    }  
    .bottom-elements{
        font-size: 80%;
        padding: 20px;
    }
}
@media (max-width: 800px){
    #navigation nav ul li a{
        color:#fff;
        font-size: 15px;
        text-align: center;

    }
    #navigation nav ul li{
        padding: 5px;
        text-align: center;
        margin: 5px;
        border:4px #fff solid;
        border-color: #fff;
        background-color: #264654;

    }
    #navigation nav ul li:hover{
        background-color: transparent;
        border-color: #264654;
        border-radius: 10px;
    }
    #navigation nav ul{
        color:#264654;
        display: block;
        background-color: none;
        border-color: #fff;
    }   
    #box-right{
        width: 80%;
    }  
    .bottom{
        margin-top: 100%;
        width: 60%;
        font-size: 70%;
    }
    .bottom h3{
        font-size: 20px;
    }
    #box-left{
        margin-left: 0;
    }
    .boutton{
        width: 70%;
    }
}